body {
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background: #1c1c1c;
  /*background-image: linear-gradient(0deg, rgba(33,5,233,1) 0%, #1c1c1c 50%);*/
  font-size: 17px;
  animation: gradient 10s linear infinite;
  background-size: 200% 100%;
  background-position: left bottom;
}


header {
  background-color: #eee;
}

h1{
  font-size: 32px;
  color: white;
}

h2{
  color: white;
  font-size: 20px;
}

p{
  color: white;
  font-family: sans-italic;
  font-size: 18px;
}

/*@media screen and (max-width: 800px) {
  body {
    font-size: 22px;
  }

  p{
    font-size: 18px;
  }
}*/

.details-about p{
  color: white;
  font-family: sans-italic;
  font-size: 17px;
}

nav{
  position: fixed;
  width: 100%;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: black;
}

nav li {
  flex: auto;
  text-align: center;
}

.active-nav {
  color: #0643b2;

}


nav a {
  display: block;
  padding: 25px 3px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  transition: color 0.5 ease;
}

.logo-nav{
  padding: 10px 0px;
}

nav a:hover {
  color: #ffe000;

}

.logo-nav{
  padding: 10px 0px;
}

nav a:hover {
  color: #ffe000;
}

main {
  padding: 30px;
}

.top-start{
  margin-top: 50px;
}

.top-start h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #0643b2;
  margin-bottom: 0%;
}

.top-start p{
  font-family: times;
}


button {
   background-color: black;
   color: white;
   padding: 3%;
   margin: 10px 0;
   border: none ;
   cursor: pointer;
   width: 50%;
   opacity: 0.9;
   border-radius: 18px;
   font-size: 100%;
   font-weight: bold;
 }

button:hover{
  background-color: white;
  color: black;
}

.in-menu{
  padding-top: 30px;
}

.in-menu a{
  display: block;
  text-transform: lowercase;
  color: grey;
  font-size: 30px;
  font-weight: bold;
  transition: color 0.5s ease;
  transition: font-size 0.8s ease;
  padding: 4px 8%;
  text-decoration: none;
}



.in-menu a:hover{
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-size: 50px;
}

.notification-box{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  /*padding-top: 350px; Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/ opacity */
}

.notification-content{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 52%;
  height: auto;
}

.notification-content p{
  font-size: 20px;
  font-weight: 900;
  color: #0643b2;
}


.notification-content .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.notification-content .close:hover,
.notification-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




.card-slider {
  margin-top: 6%;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
}

.cards {
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.card {
  flex: 0 0 auto;
  width: 250px;
  margin: 3% 5%;
}

.card img {
  width: 110%;
  height: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 950px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: grey;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #2a17bcff;
  font-size: 22px;
}

/* Caption text */
.text {
  padding: 20px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text button{
  background-color: grey;
  color: black;
  padding: 2%;
  margin: 10px 0;
  border: none ;
  cursor: pointer;
  opacity: 0.9;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  width: 30%;
}


/* Number text (1/3 etc) */
.numbertext {
  color: grey;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: #0643b2;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.8s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.product-display1 .product-display .product-box{
  width: 25%;
  padding: 5px 10px;
  align-items: center;
  text-align: center;
}

.product-display1 ul {
  display: grid;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 800px) {
  .product-display1 .product-display .product-box{
    width: 50%;
    padding: 5px 10px;
    align-items: center;
    text-align: center;
  }
}


.product-display1 li{
}

.product-display1 img{
  width: 90%;
  position: static;
}

.product-display1 button{
  padding: center;
}


/*smaller product display*/
.product-display{
  display: flex;
  flex-wrap: wrap;
}



.product-display .product-box{
  width: 33.3333%;
  padding: 5px 10px;
  align-items: center;
  text-align: center;
}


@media (max-width: 800px) {
  .product-display .product-box{
    width: 50%;
  }
}

.product-display .product-box img{
  align-items: center;
  width: 100%;
  transition: transform 0.4s;
}

.product-display .product-box img:hover{
  transform: scale(1.15);
}


.product-box .offer-price{
    font-size: 25px;
    font-weight: 700;
    color: #0643b2;
    padding-bottom: 30px;
}

.product-box .sale-price{
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
    color: red;
    margin-left: 12px;
    font-style: italic;
}

.product-display .product-box h2{
  font-size: 30px;
  margin: 10px;
  padding-top: 0px;
}

.product-display .product-box button{
  width: 200px;
  height: 45px;
  border-radius: 30px;
}

.product-display .product-box p{
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: #02b42aff;
  padding: 0px 5px;
}



#logo {
  width: auto;
  height: 50px;
}

footer{
    padding-bottom: 0;
    background: #111;
    height: auto;
    width: 100%;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    padding-top: 1%;
    margin: 0px 3px;
    font-size: 14px;
    color: white;
}
.socials{
    list-style: none;
    display: flex;
    text-align: center;
    padding: 0 1px;

}

.socials li{
  margin: 0 15px;
  padding-top: 7%;
  padding-bottom: -7%;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 30%;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #ffe000;
}

.contacts h1{
  text-align: center;
  color: black;
}

.contacts p{
  font-size: 130%;
}

.contacts img{
  width: 10%;
  float: centre;
}
/* CSS for the unordered list */
.social-links {
  /* Other styles for the unordered list */
}

/* CSS for each list item */
.social-links li {
  display: inline-block;
  margin-right: 10px;
}

/* CSS for the link within each list item */
.social-links li a {
  display: inline-block;
  color: #333;
}

/* CSS for the images within the list items */
.social-links img {
  display: inline-block;
  width: 10%;
}


body.style2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container{
  box-sizing: border-box;
  width:80%;
  margin: 0 auto;
}

.details{
  text-align: center;
}

.details h2{
  color:#243238;
  font-size:50px;
  margin: 0;
}

.main-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  width: 300px;
  height: auto;
  margin: 20px 25px;
  text-align: center;
  padding: 40px 30px;
  color: #ffffff;
  background: #030103ff;
  position: relative;
  z-index: 2;
  border-radius: 50px;
}

.box > * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50px;
}

.box:hover::before{
  width: 102%;
  height: 102%;
  transition: all ease .50s;
}

.box .icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}

.box .icon .fas{
  color: #404044;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr{
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  width: 70%;
  border: 3px solid #2a17bcff;
  border-radius: 40%;
}

.box button{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  background-color:#D50000 ;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600 ;
  background-color: white;
}

.box button:hover{
  background-color: #2a17bcff;
  color: white;
}

.box .white-border{
  border: 1px solid #ffffff;
}

.page-breaker {
  margin-top:7%;
  margin-bottom: 7%;
  display: block;
  width: 70%;
  border: 3px solid white;
  border-radius: 40%;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 350px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #2a17bcff;
  margin: auto;
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 70%;
  height: auto;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content p{
  text-align: center;
  font-size: bold;
  color: white;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



.product-container{
}

.product-container .card{
  position: relative;
  width: 330px;
  height: 490px;
  background: #030103ff;
  border-radius: 40px;
  overflow: hidden;
  margin: auto;
}


.product-container .card:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  clip-path: circle(100px at 80% 20%);
  transition: 0.5s ease-in-out;
}


.product-container .card:hover:before{
  clip-path: circle(300px at 80% -20%);
}

.product-container .card .card:after{
  text-align: center;
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: #2a17bcff;
}


.product-container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 800;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}

.product-container .card:hover .imgBx{
  top: 10%;
  transform: translateY(0%);
}

.product-container .card .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  width: 290px;
}

.product-container .card .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.product-container .card:hover .contentBx{
  height: 130px;
}

.product-container .card .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin: 0;
}

.product-container .card .contentBx .size, .container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  transition: 0.5s;opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;

}

.product-container .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.product-container .card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
  margin: -10px;
}

.product-container .card .contentBx .size h3, .container .card .contentBx .color h3{
  color: white;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.product-container .card .contentBx button{
  color: black;
  background-color: white;
  border: none ;
  cursor: pointer;
  width: 50%;
  border-radius: 16px;
  font-size: 100%;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.product-container .card .contentBx button:hover {
  background-color: #0643b2;
}

.product-container .card .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}


.product-container .card .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #green;
  border-radius: 50%;
  margin: 0 0px;
  cursor: pointer;
  margin: -100px;
}

.product-container .card .contentBx .color span:nth-child(0){
  background: white;
}

.product-container .card .contentBx .color span:nth-child(1){
  background: black;
}

.product-container .card .contentBx .color span:nth-child(2){
  color: : brown;
}


.product-container .card .price h3{
  color: #0643b2;
  font-size: 22px;
  font: bold;
  padding: 10px 16px;
  padding-top: 0px;
}


.poster-packs {
  display: flex;
  flex-wrap: wrap;
}

.poster-pack {
  width: 33.3333%; /* 3 columns */
  padding: 20px 8px;
}

.poster-pack img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.poster-pack img:hover {
  transform: scale(1.15); /* Scale the image up by 10% on hover */
}

@media (max-width: 800px) {
  .poster-pack {
    width: 50%; /* 1 column */
  }
}


form {
  display: flex;
  flex-direction: column;
}


form input,
form textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid black;

}

form textarea {
  resize: vertical;
}

form button[type="submit"] {
  padding: 8px;
  width: 10%;
  height: auto;
  color: black;
  border-radius: 20px;
}

.contact-form label{
  color: white;
  margin: 0px 10px;
  font-family: sans-italic;
  font-size: 17px;
}

.contact-form input{
  border-radius: 15px;
  width: 270px;
  height: 30px;
  margin: 10px 10px;
  font-size: 16px;

}

.contact-form textarea{
  margin: 10px 10px;
  border-radius: 15px;
  font-size: 16px;
  height: 100px;

}

.findOut{
 margin: center;
}

.findOut form{
  margin-bottom: 60px;
  padding: 20px 40px;

}

.findOut label{
  color: white;
  margin: 15px;
}

.findOut input{
  border-radius: 15px;
  border-color: white;
  border-width: 4px;
  color: black;
}

.findOut textarea{
  border-radius: 15px;
  height: 100px;
  width: 100%
  color: black;
}

.findOut button[type=submit]{
     background-color: black;
     color: white;
     margin: 20px 0px;
     border: none ;
     cursor: pointer;
     opacity: 0.9;
     border-radius: 25px;
     font-size: 100%;
     font-weight: bold;
     height: 50px;
     width: 200px;
     text-align: center;

}



#product-image img {
  max-width: 500px;
}

#product-details {
  width: 300px;
  text-align: center;
}


#popupWindow {

}



.popup{
    transition: all 1.0 ease-out;
    background-color: #ffffff;
    width: 400px;
    padding: 30px 40px;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 20px;
    display: none;
    text-align: center;
}

.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: black;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.popup h2{
  margin-top: -20px;
  color: black;
}

.popup p{
  color: black;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.popup a{
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: #0f72e5;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}

.popup input{
    padding: 10px;
    margin: 5px;
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    height: 30px;
}

.popup img{
    width: 100px;
    padding: -2px;
}

--black: #030103ff;
--medium-blue: #2a17bcff;
--byzantine: #bf0fb1ff;
--yellow-green-color-wheel: #02b42aff;
--bitter-lemon: #c6d612ff;
