body {
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background: #1c1c1c;
  background: linear-gradient(0deg, rgba(33,5,233,1) 0%, #1c1c1c 50%);
}

header {
  background-color: #eee;
}

h1{
  font-size: 32px;
  color: white;
}

h2{
  color: white;
  font-size: 20px;
}

p{
  color: white;
  font-family: sans-italic;
}

nav{
  position: fixed;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: black;
}

nav li {
  flex: auto;
  text-align: center;
}

nav a {
  display: block;
  padding: 20px 0px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  vertical-align: middle;
}

nav a:hover {
  color: #ffe000;
}

main {
  padding: 30px;
}

.top-start{
  margin-top: 7%;
}

.top-start h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffe000;
  margin-bottom: 0%;
}

.top-start p{
  font-family: times;
}


button {
   background-color: black;
   color: white;
   padding: 3%;
   margin: 10px 0;
   border: none ;
   cursor: pointer;
   width: 50%;
   opacity: 0.9;
   border-radius: 12px;
   font-size: 100%;
   font-weight: bold;
 }

button:hover{
  background-color: white;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 8px;
}

form input,
form textarea {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
}

form textarea {
  resize: vertical;
}

form button[type="submit"] {
  padding: 8px;
}

.card-slider {
  margin-top: 6%;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
}

.cards {
  display: flex;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.card {
  flex: 0 0 auto;
  width: 250px;
  margin: 3% 5%;
}

.card img {
  width: 110%;
  height: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 70%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: grey;
}

/* Caption text */
.text {
  padding: 20px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text button{
  background-color: white;
  color: black;
  padding: 3%;
  margin: 10px 0;
  border: none ;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  border-radius: 12px;
  font-size: 100%;
  font-weight: bold;

}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: #bf0fb1ff;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.8s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.product-display{
}

.product-display1 ul {
  list-style: none;
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}



.product-display1 li{
}

.product-display1 img{
  width: 90%;
  position: static;
}

.product-display1 button{
  padding: center;
}

.product-display ul {
  display: grid ;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.product-display li{
  list-style: none;
  margin: 1% 1%;
}

.product-display img{
  align-items: center;
  width: 100%;
}

.product-display button{
}

.product-display p{
}

#logo {
  width: auto;
  height: 50px;
}

footer{
    padding-bottom: 0;
    background: #111;
    height: auto;
    width: 100%;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content p{
    padding-top: 1%;
    margin: 3px 3px;
    font-size: 14px;
    color: white;
}
.socials{
    list-style: none;
    display: flex;
    margin: 1rem 0 3rem 0;
    text-align: center;
}

.socials li{
  margin: 0 15px;
  padding-top: 7%;
  padding-bottom: -7%;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 30%;
    border-radius: 50%;
}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: #ffe000;
}

.contacts h1{
  text-align: center;
  color: black;
}

.contacts p{
  font-size: 130%;
}

.contacts img{
  width: 10%;
  float: centre;
}
/* CSS for the unordered list */
.social-links {
  /* Other styles for the unordered list */
}

/* CSS for each list item */
.social-links li {
  display: inline-block;
  margin-right: 10px;
}

/* CSS for the link within each list item */
.social-links li a {
  display: inline-block;
  color: #333;
}

/* CSS for the images within the list items */
.social-links img {
  display: inline-block;
  width: 10%;
}


body.style2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container{
  box-sizing: border-box;
  width:80%;
  margin: 0 auto;
}

.details{
  text-align: center;
}

.details h2{
  color:#243238;
  font-size:50px;
  margin: 0;
}

.main-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box{
  width: 300px;
  height: 400px;
  margin: 10px;
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
  border-radius: 5px;

}

.box > * {
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.box::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.box:hover::before{
  width: 95%;
  height: 95%;
  transition: all ease .50s;
}

.box .icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  position: relative;
}

.box .icon .fas{
  color: #404044;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr{
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
  width: 70%;
  border: 3px solid black;
}

.box button{
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background-color:#D50000 ;
  padding: 10px 25px;
  border-radius: 25px;
  margin-top: 25px;
  display: inline-block;
  font-weight: 600 ;
  background-color:#030103ff
}

.box button:hover{
  background-color:#2a17bcff ;
}

.box .white-border{
  border: 1px solid #ffffff;
}

.page-breaker {
  margin-top:7%;
  margin-bottom: 7%;
  display: block;
  width: 70%;
  border: 3px solid white;
  border-radius: 40%;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

--black: #030103ff;
--medium-blue: #2a17bcff;
--byzantine: #bf0fb1ff;
--yellow-green-color-wheel: #02b42aff;
--bitter-lemon: #c6d612ff;
