.order-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.row{
    display: flex;
    gap: 20px;
}

.col-6{
    width: 70%;
    padding-right: 80px;
}

.single-product{
    width: 1080px;
    position: relative;
}
/** Breadcrumb **/

.single-product .breadcrumb{
    background: #48484810;
    padding: 8px 4px;
    border-radius: 8px;
    font-size: 15px;
}

.breadcrumb span{
    display: inline-flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 8px;
}
.breadcrumb span:not(:last-child)::after{
    content: '/';
}

.breadcrumb span a{
    text-decoration: none;
    color: var(--primary-color);
}

/** product image **/

.single-product .product-image{
    width: 100%;
}

.product-image .product-image-main{
    position: relative;
    display: block;
    height: 480px;
    background: transparent;
    padding: 10px;
}

.product-image-main img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.design-mock-up{
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.customs-image {
    position: relative;
}


#h-mock{
  height: 480px;
}

#design{
  width: 140px;;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}


.product-image-slider{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.product-image-slider img{
    width: 90px;
    height: auto;
    padding: 6px;
    cursor: pointer;
    margin: auto;
    display: flex;
    justify-content: center;
}

/** product title **/

.product-title{
    margin-top: 20px;

}
.product-title h2{
    font-size: 45px;
    font-weight: 800;
    letter-spacing: -0.02rem;
    color: #0643b2;
    padding: 10px 0px;
}

/** Product price **/
.product-price{
    display: flex;
    position: relative;
    margin: 10px 0;
    align-items: center;
}

.product-price .offer-price{
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.product-price .sale-price{
    font-size: 22px;
    font-weight: 500;
    text-decoration: line-through;
    color: grey;
    margin-left: 12px;
}

/** Product Details **/
.product-details{
    margin: 10px 0;
}
.product-details h3{
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.product-details p{
    margin: 5px 0;
    font-size: 18px;
    line-height: 1.2rem;
}

/** Product size **/
.product-size{
    margin: 10px 0;
}
.product-size h4{
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.product-size .size-layout{
    margin: 5px 0;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.product-size .size-layout .size-input{
    display: none;
}
.product-size .size-layout .size{
  width: 50px;
  height: auto;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 15px;
  cursor: pointer;
}

.product-size .size-layout .size:hover{
    border: 3px solid grey;
}

.product-size .size-layout input[type="radio"]:checked + .size{
    background-color: #030103ff;
    color: white;
    box-shadow: 0 3px 6px var(--shadow);
    border: 2px solid white;
}

/** Product Color **/
.product-color{
    margin: 10px 0;
    justify-content: center;
}

.product-color h4{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.product-color .color-layout{
    margin: 5px 0;
    display: flex;
    gap: 10px;
}

.product-color .color-layout label{
    border-radius: 4px;
    cursor: pointer;
    content: '';
    width: 40px;
    height: 40px;
    display: inline-block;
}

.product-color .color-layout .c1{
    background-color: #353535;
}

.product-color .color-layout .c2{
    background-color: #e1e1e1;
}
.product-color .color-layout .c3{
    background-color: #884f25;
}

.product-color .color-layout :hover{
    border: 2px solid grey;
}


.product-color .color-layout .color-input{
    display: none;
}

.product-color .color-layout input[type="radio"]:checked + .color-input{
    background-color: #030103ff;
    //color: white;
    box-shadow: 0 3px 6px var(--shadow);
    border: 2px solid white;
}



/** divider **/
.divider{
    display: block;
    height: 1px;
    width: 100%;
    background: #48484830;
    margin: 20px 0;
}

/** product Button Group **/

.product-btn-group{
    display: flex;
    gap: 15px;
}
.product-btn-group .button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 500;
}

.product-btn-group button{
  width: auto;
}

.product-btn-group .buy-now{
    background-color: var(--accent-color);
    color: #fff;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}

.product-btn-group .buy-now i{
    font-size: 20px;
}
.product-btn-group .buy-now:hover{
    box-shadow: 0 3px 6px var(--shadow);
}

.product-btn-group .add-cart{

    background-color: var(--bg-grey);
    color: var(--grey);
    border-radius: 4px;
    cursor: pointer;
}
.product-btn-group .add-cart i{
    font-size: 20px;
}
.product-btn-group .add-cart:hover{
    box-shadow: 0 3px 6px var(--shadow);
    background: var(--grey);
    color: #fff;
}
.product-btn-group .heart{
    color: var(--grey);
    cursor: pointer;
}
.product-btn-group .heart i{
    font-size: 20px;
}
.product-btn-group .heart:hover{
    color: var(--accent-color);
}

@media screen and (min-width:640px){
  .customs-image {
      position: relative;
  }

  .parent-container{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-gap: 1rem;
  }

  .customs-image:nth-child(1) {
      grid-column: 1 / 2;
  }

  .customs-image:nth-child(2) {
      grid-column: 2 / 3;
  }
}

/** Responsive Mobile **/
@media screen and (max-width: 640px) {
    .container{
        padding: 20px;
        height: auto;
    }
    .row{
        display: block;
    }

    .col-6{
        width: 90%;
        display: block;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .single-product{
        width: 100%;
        position: relative;
    }

    .product-image .product-image-main{
        width: 100%;
    }
    .product-image-slider{
        gap: 15px;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .breadcrumb{
        display: none;
    }

    .product-title h2{
        font-size: 40px;
    }
    .product-size{
        display: block;
    }
    .product-size .size-layout{
        display: block;
        margin: 10px 0;

    }
    .product-size .size-layout .size{
        padding: 6px 10px;
    }
    .product-btn-group{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    #h-mock{
      height: 480px;
    }

    #design{
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);
    }

    #design img{
      width: 140px;
      height: auto;
    }
}


.custom-info{
  padding-top: 45px;
  padding-bottom: 0;
}

.custom-info hr{
  margin-top: 25px;
  margin-bottom: 20px;
  display: block;
  width: 80%;
  border: 1px solid white;
  border-radius: 0;
}

.custom-info h1{
  padding-left: 30px;
  font-size: 30px;
}

.custom-info h2{
  padding-left: 30px;
  padding-top: 0px;
  font-size: 20px;
}

.custom-info p{
  padding-left: 30px;
  font-size: 18;
}

.custom-info .smaller-info {
  font-style: italic;
  font-size: 16px;
  color: #bf0fb1ff;
  text-align: center;
}

.custom-upload{
  color: white;
  text-align: center;
  position: static;
  padding: 5px;
}
