<!DOCTYPE html>
<html lang="en">
<script>
</script>
  <head>
    <title>iffyweb-order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shop from a variety of graphic hoodies, tees and posters."/>
    <meta property="og:title" content="Iffy Web"/>
    <meta property="og:description" content="From all your graphic needs to web designing needs, you can find anything you need right here." />
    <meta property="og:image" content="https://iffyweb.co.za/static/iffy web logo.png" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="../static/styles2.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4M55D2J4SL">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4M55D2J4SL');
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="../javascript-file.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
    <script src="../javascript-datahandler.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body class="style1">
    <div class="mobile-menu">
      <i class="fa fa-bars" id="menuButton" onclick="navDrop()"></i>
      <a href="../templates/cart.html"><i class="fa fa-shopping-cart" id="shoppingButton"></i></a>
      <a href="../templates/account.html"><i class="fa fa-user" id="userButton"></i></a>
    </div>
    <nav id="navbar">
      <span class="close-nav" onclick="navClose()">&times;</span>
      <ul>
          <li><a class="logo-nav" onclick="navDrop()"><img src= "../static/iffy web logo.png" id ="logo"></a></li>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../templates/products.html" class="active-nav">Products</a></li>
          <li><a href="../templates/prices.html" >Prices</a></li>
          <li><a href="../templates/comissions.html">Services</a></li>
          <li><a href="../templates/contact.html">About Me</a></li>
          <li><a href="../templates/account.html">Account</a></li>
          <li><a href="../templates/cart.html">Cart</a></li>
      </ul>
    </nav>
      <main>


        <div id="noty" class="notification-box">
        <div class="notification-content">
          <span class="close" >&times;</span>
          <p id="notification-text" >Some text in the Modal..</p>
        </div>
        </div>

        <div id="confirmation" class="confirmation-box">
        <div class="confirmation-content">
          <span class="close" onclick="closeConfirmationBox()">&times;</span>
          <h1>Confirm Order</h1>
          <h2>Order Details:</h2>
          <p id="order-information">Hoodie Tshirt Poster Info</p>
          <p id="order-contact-info">THIS IS A SIMULATED ORDER . FOR ORDER INFORMATION PLEASE EMAIL order@iffyweb.co.za. NOTE: </p>
          <button class="btn-cancel" type="button" onclick="closeConfirmationBox()">CANCEL</button>
          <button class="btn-confirm" type="button" name="confirmed" onclick="closeConfirmationBox(); notification('ITEM ADDED TO CART...');">PLACE ORDER</button>
        </div>
        </div>

<script type="text/javascript">
console.log(localStorage.getItem("product_name"));
//console.log(localStorage.getItem("product_name"));
//localStorage.clear();
//document.location.href = document.location.href;
window.addEventListener('storage', function(event) {
  if (event.key === 'product_image_url') {
    // run the updatePage function when the page has finished loading
    var productName = "" + localStorage.getItem("product_name");
    // replace the URL with the product name
    window.history.replaceState(null, null, "order.html?ProductName=" + encodeURIComponent(productName));
    updatePage();
  }
});

window.onload = function () {
  // run the updatePage function when the page has finished loading
  var productName = "" + localStorage.getItem("product_name");
  // replace the URL with the product name
  window.history.replaceState(null, null, "order.html?ProductName=" + encodeURIComponent(productName));
  updatePage();
};

var discountedPrice = 0;
function updatePage() {
  
  document.title = localStorage.getItem("product_name") + " - iffyweb";
  var arrString = localStorage.getItem("product_image_url");
  var arrUrl = arrString.split(",");
  //console.log("the array is: " + arrUrl.length);

  const mainPicture = document.getElementById("product-main-image");
  var url0 = "../" + arrUrl[0];
  mainPicture.src = url0;

  //images available for the other blocks
  if(arrUrl.length >= 3){
  const box1 = document.getElementById("product-image1");
  var url1 = "../" + arrUrl[0];
  box1.src = url1;

  const box2 = document.getElementById("product-image2");
  var url2 = "../" + arrUrl[1];
  box2.src = url2;

  const box3 = document.getElementById("product-image3");
  var url3 = "../" + arrUrl[2];
  box3.src = url3;
  }
  else{
    const box1 = document.getElementById("product-image1");
    var url1 = "../" + arrUrl[0];
    box1.src = url1;

    const box2 = document.getElementById("product-image2");
    var url2 = "../" + arrUrl[1];
    box2.src = url2;

    const box3 = document.getElementById("product-image3");
    box3.style.display = "none";
  }

  //console.log(window.products[0].product_image_url[0]);

  var name = localStorage.getItem("product_name");
  const productName = document.getElementById("product-name");
  productName.innerHTML = name;

  var desc = localStorage.getItem("product_desc");
  const productDescription = document.getElementById("product-description");
  productDescription.innerHTML = desc;

  var price = parseFloat(localStorage.getItem("product_price"));
  const salePrice = document.getElementById("offer-p");
  salePrice.innerHTML = (price + 0.00)  + " ZAR";

  discountedPrice = price - ( price * 0.15);
  var offerPrice = document.getElementById("sale-p");
  offerPrice.innerHTML = discountedPrice + " ZAR";

//};
}

//document.location.href = document.location.href;
function closeConfirmationBox(){
  var confirmBox = document.getElementById("confirmation").style.display = "none";
}

function openConfirmationBox(){
  if (sessionStorage.getItem("uid") === null) {
    notification("PLEASE LOGIN OR SIGN IN FIRST. GO TO THE ACCOUNT PAGE");
  }
  else{
    //console.log(sessionStorage.getItem("uid"));
  var confirmBox = document.getElementById("confirmation").style.display = "block";
  }
}
var order = "";

function orderDetails(){
  var contactInfo = document.getElementById("order-contact-info");
  contactInfo.innerHTML = "Dear " + sessionStorage.getItem("user_name") + "\nNOTE: THIS IS A SIMULATED ORDER . FOR ORDER INFORMATION PLEASE EMAIL order@iffyweb.co.za.";
  var orderInfo = document.getElementById("order-information");
  const size = document.querySelector('input[name="size"]:checked').value;
  order = localStorage.getItem("product_name") + " " + size + " " + discountedPrice + " ZAR";
  orderInfo.innerHTML = order;
}



</script>

        <div class="order-container">
        <div class="single-product">
            <div class="row">
                <div class="col-6">
                    <div class="product-image">
                        <div class="product-image-main">
                            <img src= "../static/no-image.jpg" alt="" id="product-main-image" >
                        </div>
                        <div class="product-image-slider">
                            <img id= "product-image1" src= "../static/no-image.jpg" alt="1"  class="image-list"  onclick="changeImage();">
                            <img id= "product-image2" src= "../static/no-image.jpg" alt="2"  class="image-list" onclick="changeImage();">
                            <img id= "product-image3" src= "../static/no-image.jpg" alt="3"  class="image-list" onclick="changeImage();">
                            <!--img src="static/O Degrees Kendrick.jpg" alt="4"  class="image-list" onclick="changeImage();"-->
                        </div>
                    </div>
                </div>
                <div class="col-6">

                    <div class="product">
                        <div class="product-title">
                            <h2 id="product-name">Product Name</h2>
                        </div>
                        <div class="product-price">
                            <span id="sale-p" class="offer-price">000.00 ZAR</span>
                            <span id="offer-p" class="sale-price">000.00 ZAR</span>
                        </div>

                        <div class="product-details">
                            <h3>Description</h3>
                            <p id="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos est magnam quibusdam maiores sit perferendis minima cupiditate iusto earum repudiandae maxime vitae nostrum, ea cumque iste ipsa hic commodi tempore.</p>
                        </div>
                        <div class="product-size">
                            <h4>Size</h4>
                            <div class="size-layout">
                                <input type="radio" name="size" value="S" id="1" class="size-input">
                                <label for="1" class="size">S</label>

                                <input type="radio" name="size" value="M" id="2" class="size-input">
                                <label for="2" class="size">M</label>

                                <input type="radio" name="size" value="L" id="3" class="size-input">
                                <label for="3" class="size">L</label>

                                <input type="radio" name="size" value="XL" id="4" class="size-input">
                                <label for="4" class="size">XL</label>

                                <input type="radio" name="size" value="XXL" id="5" class="size-input">
                                <label for="5" class="size">XXL</label>
                            </div>
                        </div>
                        <div class="product-color">
                            <h4>Color</h4>
                            <div class="color-layout">
                                <input type="radio" name="color"  value="black" class="color-input">
                                <label for="col1" class="c1"></label>
                                <input type="radio" name="color"  value="white" class="color-input">
                                <label for="col2" class="c2"></label>
                                <input type="radio" name="color"  value="brown" class="color-input">
                                <label for="col3" class="c3"></label>
                            </div>
                        </div>
                        <span class="divider"></span>

                        <div class="product-btn-group">
                            <button onclick="orderDetails(); openConfirmationBox()" >ADD TO CART</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--                    POPULAR PRODUCTS                          -->
    <h1>Popular Products</h1>
    <div class="product-display-container">
      <div class="product-box">
        <div class="image-box">
          <img src="../hoodiesandtees/reece-white.png">
          <a><i class="fa fa-heart"></i></a>
        </div>
        <div class="product-details">
          <h3>A-Reece Hoodie</h3>
          <span class="product-offer-price">416.50 ZAR</span>
          <span class="product-sale-price">490.00 ZAR</span>
        </div>
        <button type="button" name="button" onclick= "window.open('../templates/order.html'); getProduct('A-Reece Hoodie');">ADD TO CART</button>
      </div>
      <div class="product-box">
        <div class="image-box">
          <img src="../hoodiesandtees/boondocksblack.png">
          <a><i class="fa fa-heart"></i></a>
        </div>
        <div class="product-details">
          <h3>Aaliyah Hoodie</h3>
          <span class="product-offer-price">416.50 ZAR</span>
          <span class="product-sale-price">490.00 ZAR</span>
        </div>
        <button type="button" name="button" onclick="window.open('../templates/order.html'); getProduct('The Boondocks Tee');">ADD TO CART</button>
      </div>
      <div class="product-box">
        <div class="image-box">
          <img src="../poster/pele-poster.jpg">
          <a><i class="fa fa-heart"></i></a>
        </div>
        <div class="product-details">
          <h3>Pele Poster</h3>
          <span class="product-offer-price">00.00 ZAR</span>
          <span class="product-sale-price">50.00 ZAR</span>
        </div>
        <button type="button" name="button" onclick= "window.open('../templates/order-posters.html'); getProduct('Pele Poster');">PURCAHSE</button>
      </div>
      <div class="product-box">
        <div class="image-box">
          <img src="../hoodiesandtees/kobe-black.png">
          <a><i class="fa fa-heart"></i></a>
        </div>
        <div class="product-details">
          <h3>Kobe Bryant Tee</h3>
          <span class="product-offer-price">197.37</span>
          <span class="product-sale-price">232.20.00 ZAR</span>
        </div>
        <button type="button" name="button" onclick= "window.open('../templates/order.html'); getProduct('Kobe Bryant Tee');">ADD TO CART</button>
      </div>
    </div>
    <!--div class ="product-display" id="smaller-products">
        <div class="product-box">
          <img src="../hoodiesandtees/reece-white.png" onclick= "window.open('order.html'); getProduct('A-Reece Hoodie');"/>
          <h2>A-Reece Hoodie</h2>
          <span class="offer-price">416.50 ZAR</span>
          <span class="sale-price">490.00 ZAR</span>
          <button onclick="window.open('order.html'); getProduct('A-Reece Hoodie');">Order</button>
        </div>

        <div class="product-box">
          <img src="../hoodiesandtees/boondocksblack.png" onclick= onclick= "window.open('order.html'); getProduct('The Boondocks Tee');"/>
          <h2>The Boondocks Tee</h2>
          <span class="offer-price">197.37 ZAR</span>
          <span class="sale-price">232.20 ZAR</span>
          <button onclick= "window.open('order.html'); getProduct('The Boondocks Tee');">Order</button>
        </div>

        <div class="product-box">
          <img src="../poster/pele-poster.jpg" onclick= "window.open('order-posters.html'); getProduct('Pele Poster');"/>
          <h2>'Pele Poster</h2>
          <span class="offer-price">390.00 ZAR</span>
          <span class="sale-price">459.00 ZAR</span>
          <button onclick= "window.open('order-posters.html'); getProduct('Pele Poster');">Buy</button>
        </div>

        <div class="product-box">
          <img src="../hoodiesandtees/kobe-black.png" onclick= "window.open('order.html'); getProduct('Kobe Bryant Tee');"/>
          <h2>'Kobe Bryant' Tee</h2>
          <span class="offer-price">197.37 ZAR</span>
          <span class="sale-price">232.20 ZAR</span>
          <button onclick= "window.open('order.html'); getProduct('Kobe Bryant Tee');">Order</button>
        </div>


      </div-->

  </main>
  </body>
  <footer>
      <div class="footer-content">
        <div class="footer-socials">
          <span class="footer-icons"><a href="mailto:info@iffyweb.co.za?subject=Inquiry"><i class="fa fa-envelope"></i></a></span>
          <span class="footer-icons"><a href="https://wa.me/message/PGLHGNZ7WUXPA1" ><i class="fa fa-whatsapp"></i></a></span>
          <span class="footer-icons"><a href="https://www.instagram.com/iffy.graphics" ><i class="fa fa-instagram"></i></a></span>
          <span class='footer-icons'><a href="https://twitter.com/iffygraphics?s=21" ><i class="fa fa-twitter"></i></a></span>
          <span class="footer-icons"><a href="https://www.linkedin.com/in/shaun-musodza-31b231181/" ><i class="fa fa-linkedin-square"></i></a></span>
        </div>
          <p>&copy; 2023 Designed & Built by Iffy</p>
      </div>
  </footer>
</html>
