<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Products - iffyweb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Providing logo design, web development, graphic design, and software products. I blend my technical skills and creative vision to bring brands to life, working closely with clients to deliver high-quality, innovative solutions that drive success in the digital landscape. Focus on design, functionality, and user experience."/>
    <meta property="og:title" content="Iffy Web Products"/>
    <meta property="og:description" content="Shop Graphic Hoodies, Posters and Tees" />
    <meta property="og:image" content="https://iffyweb.co.za/static/iffy web logo.png" />
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="../static/iffy web logo.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Google tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4M55D2J4SL">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4M55D2J4SL');
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="../javascript-datahandler.js"></script>
    <script src="../javascript-file.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body>
    <div class="mobile-menu">
      <i class="fa fa-bars" id="menuButton" onclick="navDrop()"></i>
      <a href="../templates/cart.html"><i class="fa fa-shopping-cart" id="shoppingButton"></i></a>
      <a href="../templates/account.html"><i class="fa fa-user" id="userButton"></i></a>
    </div>
    <nav id="navbar">
      <span class="close-nav" onclick="navClose()">&times;</span>
      <ul>
          <li><a class="logo-nav" onclick="navDrop()"><img src= "../static/iffy web logo.png" id ="logo"></a></li>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../templates/products.html" class="active-nav">Products</a></li>
          <li><a href="../templates/prices.html" >Prices</a></li>
          <li><a href="../templates/comissions.html">Services</a></li>
          <li><a href="../templates/contact.html">About Me</a></li>
          <li><a href="../templates/account.html">Account</a></li>
          <li><a href="../templates/cart.html">Cart</a></li>
      </ul>
    </nav>


      <script>
      // Get the current pathname of the page
      var pathname = window.location.pathname;

      // If the pathname is "/index.html", change it to "/Home"
      if (pathname === "/templates/products.html") {
        window.history.pushState(null, null, "/Products");
      }

      let prevScrollpos = window.pageYOffset;
      window.onscroll = function() {
        let currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
          document.getElementById("navbar").style.top = "0";
        } else {
          document.getElementById("navbar").style.top = "-70px";
        }
        prevScrollpos = currentScrollPos;
      };

      function openOrderPage(){
        window.location.href = "../templates/order.html";
      }

      function openPosterPage(){
        window.location.href = "../templates/order-posters.html";
      }
      </script>
    <main>
      <div class="top-start">
        <h1>PRODUCTS</h1>
        <p>shop new, available products from a large range</p>
      </div>
      <hr class="page-breaker">


<!--                                 HOOOOODIES                       -->
<h1 id="hoodies">Hoodies</h1>
<div class="product-display-container">
  <div class="product-box">
    <div class="image-box">
      <img src="../hoodiesandtees/anarchy-white.png">
      <a class="like-product"><i class="fa fa-heart"></i></a>
    </div>
    <div class="product-details">
      <h3>Anarchy Hoodie</h3>
      <span class="product-offer-price">416.50 ZAR</span>
      <span class="product-sale-price">490.00 ZAR</span>
    </div>
    <button type="button" name="button" onclick=" getProduct('Anarchy Hoodie'); window.location.href = '../templates/order.html'">VIEW PRODUCT</button>
  </div>
  <div class="product-box">
    <div class="image-box">
      <img src="../hoodiesandtees/aaliyah-white.png">
      <a><i class="fa fa-heart"></i></a>
    </div>
    <div class="product-details">
      <h3>Aaliyah Hoodie</h3>
      <span class="product-offer-price">416.50 ZAR</span>
      <span class="product-sale-price">490.00 ZAR</span>
    </div>
    <button type="button" name="button" onclick="getProduct('Aaliyah Hoodie');">ADD TO CART</button>
  </div>
  <div class="product-box">
    <div class="image-box">
      <img src="../hoodiesandtees/ironmike-black.png">
      <a><i class="fa fa-heart"></i></a>
    </div>
    <div class="product-details">
      <h3>Mike Tyson Hoodie</h3>
      <span class="product-offer-price">416.50 ZAR</span>
      <span class="product-sale-price">490.00 ZAR</span>
    </div>
    <button type="button" name="button" onclick="getProduct('Iron Mike Hoodie'); openOrderPage();">ADD TO CART</button>
  </div>
  <div class="product-box">
    <div class="image-box">
      <img src="../hoodiesandtees/beyonce-brown.png">
      <a><i class="fa fa-heart"></i></a>
    </div>
    <div class="product-details">
      <h3>Beyonce Hoodie</h3>
      <span class="product-offer-price">416.50 ZAR</span>
      <span class="product-sale-price">490.00 ZAR</span>
    </div>
    <button type="button" name="button" onclick="getProduct('Beyonce Hoodie'); openOrderPage();">ADD TO CART</button>
  </div>
</div>

<!--div class="product-container">
  <div class ="product-display1">
    <ul>
      <li><div class="card">
        <div class="price">
          <h3>368.70 ZAR</h3>
        </div>
        <div class="imgBx">
          <img src="../hoodiesandtees/anarchy-brown.png">
        </div>
        <div class="contentBx">
          <button onclick="window.open('order.html'); getProduct('Anarchy Hoodie'); " >ORDER NOW</button>
          <div class="size">
            <h3>Sizes :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>SELECT COLOUR</h3>
      </div>
    </div>
      </li>
      <li><div class="card">
        <div class="price">
          <h3>368.70 ZAR</h3>
        </div>
        <div class="imgBx">
          <img src="../hoodiesandtees/aaliyah-white.png">
        </div>
        <div class="contentBx">
          <button onclick="window.open('order.html'); getProduct('Aaliyah Hoodie'); " >ORDER NOW</button>
          <div class="size">
            <h3>Sizes :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>SELECT COLOUR</h3>
      </div>
      </div>
    </div>
      </li>
      <li><div class="card">
        <div class="price">
          <h3>368.70 ZAR</h3>
        </div>
        <div class="imgBx">
          <img src="../hoodiesandtees/ironmike-black.png">
        </div>
        <div class="contentBx">
          <button onclick="window.open('order.html'); getProduct('Iron Mike Hoodie'); " >ORDER NOW</button>
          <div class="size">
            <h3>Sizes :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>SELECT COLOUR</h3>
      </div>
      </div>
    </div>
      </li>
      <li><div class="card">
        <div class="price">
          <h3>368.70 ZAR</h3>
        </div>
        <div class="imgBx">
          <img src="../hoodiesandtees/beyonce-brown.png">
        </div>
        <div class="contentBx">
          <button onclick="window.open('order.html'); getProduct('Beyonce Hoodie'); " >ORDER NOW</button>
          <div class="size">
            <h3>Sizes :</h3>
            <span>S</span>
            <span>M</span>
            <span>L</span>
            <span>XL</span>
          </div>
          <div class="color">
            <h3>SELECT COLOUR</h3>
      </div>
      </div>
    </div>
      </li>
    </ul>
</div>
</div-->
  <hr class="page-breaker">

<!--#######################TSHIRTS######################################### -->
<h1>Tees</h1>
<div class="product-display-container">
  <div class="product-box">
    <div class="image-box">
      <img src="../hoodiesandtees/kobe-black.png">
      <a><i class="fa fa-heart"></i></a>
    </div>
    <div class="product-details">
      <h3>Kobe Bryant Tee</h3>
      <span class="product-offer-price">197.37 ZAR</span>
      <span class="product-sale-price">232.20 ZAR</span>
    </div>
    <button type="button" name="button" onclick="getProduct('Kobe Bryant Tee'); openOrderPage();">ADD TO CART</button>
  </div>
  <div class="product-box">
    <div class="image-box">
      <img src="../hoodiesandtees/samuraijackwhite.png">
      <a><i class="fa fa-heart"></i></a>
    </div>
    <div class="product-details">
      <h3>Samurai Jack Tee</h3>
      <span class="product-offer-price">197.37 ZAR</span>
      <span class="product-sale-price">232.20 ZAR</span>
    </div>
    <button type="button" name="button" onclick="getProduct('Samurai Jack Tee'); openOrderPage();">ADD TO CART</button>
  </div>
  <div class="product-box">
    <div class="image-box">
      <img src="../hoodiesandtees/theweekendblack.png">
      <a><i class="fa fa-heart"></i></a>
    </div>
    <div class="product-details">
      <h3>The Weekend Tee</h3>
      <span class="product-offer-price">197.37 ZAR</span>
      <span class="product-sale-price">232.20 ZAR</span>
    </div>
    <button type="button" name="button" onclick="getProduct('The Weekend Tee'); openOrderPage();">ADD TO CART</button>
  </div>
  <div class="product-box">
    <div class="image-box">
      <img src="../hoodiesandtees/beyoncewhite.png">
      <a><i class="fa fa-heart"></i></a>
    </div>
    <div class="product-details">
      <h3>Beyonce Tee</h3>
      <span class="product-offer-price">197.37 ZAR</span>
      <span class="product-sale-price">232.20 ZAR</span>
    </div>
    <button type="button" name="button" onclick="getProduct('Beyonce Tee'); openOrderPage();">ADD TO CART</button>
  </div>
  <div class="product-box">
    <div class="image-box">
      <img src="../hoodiesandtees/unknown-black.png">
      <a><i class="fa fa-heart"></i></a>
    </div>
    <div class="product-details">
      <h3>'Unknown' Tee</h3>
      <span class="product-offer-price">197.37 ZAR</span>
      <span class="product-sale-price">232.20 ZAR</span>
    </div>
    <button type="button" name="button" onclick="getProduct('Unknown Tee'); openOrderPage();">ADD TO CART</button>
  </div>
  <div class="product-box">
    <div class="image-box">
      <img src="../hoodiesandtees/boondockswhite.png">
      <a><i class="fa fa-heart"></i></a>
    </div>
    <div class="product-details">
      <h3>The Boondocks Tee</h3>
      <span class="product-offer-price">197.37 ZAR</span>
      <span class="product-sale-price">232.20 ZAR</span>
    </div>
    <button type="button" name="button" onclick="getProduct('The Boondocks Tee'); openOrderPage();">ADD TO CART</button>
  </div>
</div>
  <!--div class="product-container" id="tees">
    <div class ="product-display1">
      <ul>
        <li><div class="card">
          <div class="price">
            <h3>368.70 ZAR</h3>
          </div>
          <div class="imgBx">
            <img src="../hoodiesandtees/kobe-black.png">
          </div>
          <div class="contentBx">
            <button onclick="window.open('order.html'); getProduct('Kobe Bryant Tee');" >ORDER NOW</button>
            <div class="size">
              <h3>Sizes :</h3>
              <span>L</span>
              <span>XL</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>BLACK | WHITE</h3>
        </div>
        </div>
      </div>
        </li>
        <li><div class="card">
          <div class="price">
            <h3>368.70 ZAR</h3>
          </div>
          <div class="imgBx">
            <img src="../hoodiesandtees/samuraijackwhite.png">
          </div>
          <div class="contentBx">
            <button onclick="window.open('order.html'); getProduct('Samurai Jack Tee');" >ORDER NOW</button>
            <div class="size">
              <h3>Sizes :</h3>
              <span>M</span>
              <span>L</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>BLACK | WHITE</h3>
        </div>
        </div>
      </div>
        </li>
        <li><div class="card">
          <div class="price">
            <h3>368.70 ZAR</h3>
          </div>
          <div class="imgBx">
            <img src="../hoodiesandtees/theweekendblack.png">
          </div>
          <div class="contentBx">
            <button onclick="window.open('order.html'); getProduct('The Weekend Tee');" >ORDER NOW</button>
            <div class="size">
              <h3>Sizes :</h3>
              <span>M</span>
              <span>L</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>BLACK | WHITE</h3>
        </div>
        </div>
      </div>
        </li>
        <li><div class="card">
          <div class="price">
            <h3>368.70 ZAR</h3>
          </div>
          <div class="imgBx">
            <img src="../hoodiesandtees/beyoncewhite.png">
          </div>
          <div class="contentBx">
            <button onclick="window.open('order.html'); getProduct('Beyonce Tee');" >ORDER NOW</button>
            <div class="size">
              <h3>Sizes :</h3>
              <span>M</span>
              <span>L</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>BLACK | WHITE</h3>
        </div>
        </div>
      </div>
        </li>
        <li><div class="card">
          <div class="price">
            <h3>368.70 ZAR</h3>
          </div>
          <div class="imgBx">
            <img src="../hoodiesandtees/unknown-black.png">
          </div>
          <div class="contentBx">
            <button onclick="window.open('order.html'); getProduct('Unknown Tee');" >ORDER NOW</button>
            <div class="size">
              <h3>Sizes :</h3>
              <span>M</span>
              <span>L</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>BLACK | WHITE</h3>
        </div>
        </div>
      </div>
        </li>
        <li><div class="card">
          <div class="price">
            <h3>368.70 ZAR</h3>
          </div>
          <div class="imgBx">
            <img src="../hoodiesandtees/boondockswhite.png">
          </div>
          <div class="contentBx">
            <button onclick="window.open('order.html'); getProduct('The Boondocks Tee');" >ORDER NOW</button>
            <div class="size">
              <h3>Sizes :</h3>
              <span>M</span>
              <span>L</span>
              <span>XL</span>
            </div>
            <div class="color">
              <h3>BLACK | WHITE</h3>
        </div>
        </div>
      </div>
        </li>
      </ul>
  </div>
</div-->
  <hr class ="page-breaker">
  <h1>Posters</h1>


  <div class="poster-packs" id="posters">
  <div class="poster-pack">
    <a onclick="getProduct('Pele Poster'); openPosterPage();">
    <img src="../poster/pele-poster.jpg" alt="">
    </a>
  </div>
  <div class="poster-pack">
    <a onclick="getProduct('Mariachis Poster'); openPosterPage();">
    <img src="../poster/mariachis-poster.jpg" alt="">
    </a>
  </div>
  <div class="poster-pack">
    <a onclick="getProduct('Medusa Poster'); openPosterPage();">
    <img src="../poster/medusa-poster.jpg" alt="">
    </a>
  </div>
  <div class="poster-pack">
    <a onclick="getProduct('Lauryn Hill Poster'); openPosterPage();">
    <img src="../poster/laurenhill-poster.jpg" alt="">
    </a>
  </div>
  <div class="poster-pack">
    <a onclick="getProduct('Freddie Mercury Poster'); openPosterPage();">
    <img src="../poster/freddie-poster.jpg" alt="">
    </a>
  </div>
  <div class="poster-pack">
    <a onclick="getProduct('Dont Stare Poster'); openPosterPage();">
    <img src="../poster/dontstare-poster.jpg" alt="">
    </a>
  </div>
  <div class="poster-pack">
    <a onclick="getProduct('Coke Poster'); openPosterPage();">
    <img src="../poster/coke-poster.jpg" alt="">
    </a>
  </div>
  <div class="poster-pack">
    <a onclick="getProduct('Skull Corn Poster'); openPosterPage();">
    <img src="../poster/skullcorn-poster.jpg" alt="">
    </a>
  </div>
</div>

  <!--hr class="page-breaker">
  <h1 >Customs</h1>
  <p>need a custom hoodie or tshirt design?</p>

  <div class ="product-display" id="customs">
      <div class="product-box">
        <img src="../static/hoodie-mock.png"/>
        <h2>Custom Printed Hoodie</h2>
        <p>TBC</p>
        <button onclick="window.open('order-custom.html')" >Start Order</button>
      </div>

      <div class="product-box">
        <img src="../static/tee-mock.png"/>
        <h2>Custom Printed Tee</h2>
        <p>TBC</p>
        <button onclick="window.open('order-custom.html')">Start Order</button>
      </div>
  </div-->



    </main>
    <footer>
        <div class="footer-content">
          <div class="footer-socials">
            <span class="footer-icons"><a href="mailto:info@iffyweb.co.za?subject=Inquiry"><i class="fa fa-envelope"></i></a></span>
            <span class="footer-icons"><a href="https://wa.me/message/PGLHGNZ7WUXPA1" ><i class="fa fa-whatsapp"></i></a></span>
            <span class="footer-icons"><a href="https://www.instagram.com/iffy.graphics" ><i class="fa fa-instagram"></i></a></span>
            <span class='footer-icons'><a href="https://twitter.com/iffygraphics?s=21" ><i class="fa fa-twitter"></i></a></span>
            <span class="footer-icons"><a href="https://www.linkedin.com/in/shaun-musodza-31b231181/" ><i class="fa fa-linkedin-square"></i></a></span>
          </div>
            <p>&copy; 2023 Designed & Built by Iffy</p>
        </div>
    </footer>
  </body>
</html>
